.person-diploma__container {
  margin: 0px;
  display: flex;
  width: 100%;
}
.person-diploma__column {
  margin: 0px 20px 0px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.person-diploma__column:last-of-type {
  margin: 0px;
}
.person-diploma__works {
  margin: 0px;
  padding: 0px 8px 0px 0px;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.person-diploma__works-item {
  margin: 0px 0px 20px 0px;
  width: 100%;
  padding: 11px 16px;
  background: var(--main-grey-color);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

@media all and (max-width: 833px) {
  .person-diploma__container {
    flex-direction: column;
  }
}
