.education {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 24px);
  height: 100%;
}
.education__container {
  margin: 0px 0px 20px 0px;
  display: grid;
  grid-template-columns: 1fr 360px;
  grid-column-gap: 20px;
}