.person-area {
  width: 100%;
}
.person-area__container {
  padding: 36px;
  box-sizing: border-box;
  display: flex;
}
.person-area__data {
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;;
}
.person-area__data-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.person-area__photo-container {
  margin: 0px 20px 0px 0px;
  width: 96px;
  height: 96px;
  background: var(--main-grey-color);
  border-radius: 50%;
  border: none;
  position: relative;
  transition: all .3s ease-in-out;
  cursor: pointer;
  flex-shrink: 0;
}
.person-area__photo {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: none;
  position: relative;
  object-fit: cover;
  object-position: center;
  user-select: none;
  pointer-events: none;
  transition: all .3s ease-in-out;
}
.person-area__icon-container {
  opacity: 0;
  margin: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 96px;
  height: 48px;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  background: var(--gradient-blue-color);
  transition: .3s ease-in-out;
}
.person-area__photo-icon {
  opacity: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 16px;
  left: 36px;
  background-image: url('../../../images/photo-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  transition: all .3s ease-in-out;
}
.person-area__photo-container:hover .person-area__icon-container {
  opacity: 1;
}
.person-area__photo-container:hover .person-area__photo-icon {
  opacity: 1;
}
.person-area__info-container {
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.person-area__name {
  margin: 0px;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  color: var(--main-black-color);
}
.person-area__achievements-list {
  margin: 16px 0px 0px 0px;
  display: flex;
  align-items: center;
  padding: 0px;
  list-style-type: none;
}
.person-area__achievements-item {
  margin: 0px 20px 0px 0px;
}
.person-area__achievements-item:last-of-type {
  margin: 0px;
}
.person-area__education-level {
  margin: 0px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  cursor: default;
  text-transform: capitalize;
}
.person-area__achievement {
  width: 32px;
  height: 32px;
  border-radius: 50%
}
.person-area__achievement_type_epic {
  background: var(--gradient-blue-color);
}
.person-area__achievement_type_legendary {
  background: var(--gradient-orange-color);
}
.person-area__data-list {
  margin: 12px 0px 0px 0px;
  padding: 0px;
  list-style-type: none;
}
.person-area__data-item {
  margin: 0px 0px 12px 0px;
  display: flex;
  align-items: center;
}
.person-area__data-item:last-of-type {
  margin: 0px;
}
.person-area__data-text {
  margin: 0px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: var(--main-black-color);
}
.person-area__data-text_font_bold {
  margin: 0px 8px 0px 0px;
  font-weight: 500;
}
.person-area__data-control {
  width: 100%;
  margin: 20px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.person-area__data-control-text {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: var(--accent-blue-color);
  transition: all .3s ease-in-out;
}
.person-area__data-control-text:hover {
  cursor: pointer;
  opacity: .7;
}
.person-area__separate {
  margin: auto 16px;
  width: 1px;
  height: 240px;
  flex-shrink: 0;
  background: var(--main-grey-color);
}
.person-area__contact {
  margin: 0px;
  width: 100%;
}
.person-area__contact-container {
  margin: 0px 0px 36px 0px;
  width: 100%;
  display: flex;
}
.person-area__contact-container:last-of-type {
  margin: 0px;
}
.person-area__contact-info {
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.person-area__contact-photo {
  margin: 0px 20px 0px 0px;
  width: 76px;
  height: 76px;
  background: var(--main-grey-color);
  border-radius: 50%;
  position: relative;
  object-fit: cover;
  object-position: center;
  user-select: none;
  pointer-events: none;
  flex-shrink: 0;
}
.person-area__contact-photo-empty {
  margin: 0px 20px 0px 0px;
  width: 76px;
  height: 76px;
  background: var(--main-grey-color);
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
}
.person-area__contact-name {
  margin: 0px;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-black-color);
}
.person-area__education {
  width: 100%;
  max-width: 260px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.person-area__education-container {
  width: 100%;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 50px);
  gap: 20px;
}
.person-area__education-group {
  grid-area: 1 / 1 / 3 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--gradient-blue-color);
  border-radius: var(--border-radius);
}
.person-area__education-card_type_course {
  grid-area: 1 / 3 / 2 / 5;
}
.person-area__education-card_type_semester {
  grid-area: 2 / 3 / 3 / 5;
}
.person-area__education-card_type_count {
  grid-area: 3 / 1 / 4 / 5;
}
.person-area__group-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
  object-position: center;
}
.person-area__education-group-title {
  margin: 16px 0px 0px 0px;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-white-color);
  cursor: default;
}
.person-area__education-card {
  padding: 16px;
  width: 100%;
  background: var(--main-grey-color);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.person-area__education-title {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-black-color);
  display: flex;
  align-items: center;
}
.person-area__education-count {
  margin: 0px;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  color: var(--main-black-color);
}
.person-area__education-count_margin_left {
  margin: 0px 0px 0px 8px;
}
.person-area__education-count_margin_right {
  margin: 0px 8px 0px 0px;
}

@media all and (max-width: 1439px) {
  .person-area__container {
    padding: 32px;
  }
  .person-area__photo-container {
    margin: 0px 16px 0px 0px;
  }
  .person-area__separate {
    height: 276px;
  }
  .person-area__achievements-item {
    margin: 0px 16px 0px 0px;
  }
  .person-area__group {
    margin: 0px 18px 0px 0px;
    grid-area: none;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
  }
  .person-area__education-card {
    justify-content: center;
  }
  .person-area__education-card_type_course {
    grid-area: none;
    margin: 0px 18px 0px 0px;
  }
  .person-area__education-card_type_semester {
    grid-area: none;
    margin: 0px;
  }
  .person-area__group-title {
    margin: 0px;
  }
  .person-area__education-count {
    margin: 0px 4px 0px 0px;
    font-size: 16px;
    line-height: 20px;
  }
  .person-area__contact {
    max-width: none;
    width: 100%;
  }
  .person-area__contact-info {
    margin: 0px 0px 32px 0px;
  }
  .person-area__contact-info:last-of-type {
    margin: 0px;
  }
}

@media all and (max-width: 833px) {
  .person-area__container {
    padding: 20px;
  }
  .person-area-laptop__info-data {
    justify-content: space-between;
  }
  .person-area__group {
    margin: 0px 10px 0px 0px;
    padding: 10px;
    max-width: 100%;
    width: 100%;
  }
  .person-area__education-card_type_course {
    margin: 0px 10px 0px 0px;
  }
  .person-area__education-card {
    padding: 10px;
    max-width: 100%;
  }
  .person-area__photo-container {
    width: 100px;
    height: 100px;
  }
  .person-area__photo {
    width: 100px;
    height: 100px;
  }
  .person-area__icon-container {
    width: 100px;
    height: 50px;
  }
  .person-area__photo-icon {
    opacity: 0;
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 12px;
    left: 34px;
  }
}