.discipline-teacher__student-page {
  margin: 0px;
  width: 100%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}
.discipline-teacher__student-info {
  margin: 0px;
  display: flex;
  align-items: center;
}
.discipline-teacher__student-img {
  margin: 0px 20px 0px 0px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: var(--main-grey-color);
  object-fit: cover;
  object-position: center;
  user-select: none;
  pointer-events: none;
  border: none;
  flex-shrink: 0;
}
.discipline-teacher__student-data {
  margin: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.discipline-teacher__student-name {
  margin: 0px;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  color: var(--main-black-color);
}
.discipline-teacher__student-mail {
  margin: 12px 0px 0px 0px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  min-height: 18px;
  color: var(--main-black-color);
  word-wrap: break-word;
}
.discipline-teacher__student-marks {
  margin: 0px 0px 0px auto;
  display: flex;
  flex-direction: column;
}
.discipline-teacher__student-marks-row {
  margin: 0px;
  display: flex;
  align-items: center;
}
.discipline-teacher__student-marks-column {
  margin: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}
.discipline-teacher__student-marks-column:last-of-type {
  margin: 0px;
}
.discipline-teacher__student-mark-title {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-black-color);
}
.discipline-teacher__student-mark {
  margin: 8px 0px 0px 0px;
  width: 100%;
  padding: 11px;
  box-sizing: border-box;
  min-width: 164px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-grey-color);
  border-radius: var(--border-radius);
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-black-color);
  user-select: none;
  pointer-events: none;
}
.discipline-teacher__student-mark-btn {
  margin: 12px 0px 0px 0px;
  width: 100%;
  padding: 11px;
  background: var(--gradient-blue-color);
  border: none;
  border-radius: var(--border-radius);
  color: var(--main-white-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  transition: all .3s ease-in-out;
}
.discipline-teacher__student-mark-btn:hover {
  cursor: pointer;
  opacity: .8;
  box-shadow: 0px 8px 12px -8px rgb(0 55 196 / 90%);
}
.discipline-teacher__student-sections {
  width: 100%;
  margin: 20px 0px 0px 0px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0px;
  list-style-type: none;
  flex-grow: 2;
}
.discipline-teacher__student-section {
  position: relative;
  width: 100%;
  margin: 0px 20px 0px 0px;
  padding: 24px;
  background: var(--main-white-color);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  height: 100%;
}
.discipline-teacher__student-section:last-of-type {
  margin: 0px;
}
.discipline-teacher__student-section-add {
  margin: 0px;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-image: url('../../../../images/add-blue.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all .3s ease-in-out;
}
.discipline-teacher__student-section-add:hover {
  cursor: pointer;
  opacity: .7;
}
.discipline-teacher__student-section-title {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-black-color);
}
.discipline-teacher__student-section-list {
  width: 100%;
  margin: 12px 0px 0px 0px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.discipline-teacher__student-section-item {
  width: 100%;
  margin: 0px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.discipline-teacher__student-section-item-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0px 12px 0px 0px;
  padding: 11px 0px;
  border-bottom: 1px solid var(--slider-color);
}
.discipline-teacher__student-section-item:last-of-type .discipline-teacher__student-section-item-container  {
  border-bottom: none;
}
.discipline-teacher__student-section-item-img {
  margin: 0px 12px 0px 0px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  flex-shrink: 0;
  user-select: none;
  pointer-events: none;
  object-fit: cover;
  object-position: center;
}
.discipline-teacher__student-section-item-info {
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.discipline-teacher__student-section-item-title {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-black-color);
  transition: all .3s ease-in-out;
}
.discipline-teacher__student-section-item-title_type_active:hover {
  cursor: pointer;
  color: var(--accent-blue-color);
}
.discipline-teacher__student-section-item-text {
  margin: 4px 0px 0px 0px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: var(--accent-grey-color);
}