.discipline-info {
  margin: 24px 0px 0px 0px;
  width: 100%;
}
.discipline-info__container {
  margin: 0px;
  width: 100%;
  display: flex;
}
.discipline-info__teacher {
  margin: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
}
.discipline-info__teacher-container {
  margin: 0px;
  display: flex;
  align-items: center;
}
.discipline-info__teacher-img {
  margin: 0px 20px 0px 0px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: var(--main-grey-color);
  flex-shrink: 0;
}
.discipline-info__teacher-info {
  display: flex;
  flex-direction: column;
}
.discipline-info__teacher-name {
  margin: 0px;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  color: var(--main-black-color);
}
.discipline-info__teacher-info-list {
  margin: 24px 0px 0px 0px;
  display: flex;
  align-items: center;
  padding: 0px;
  list-style-type: none;
}
.discipline-info__teacher-info-item {
  margin: 0px 36px 0px 0px;
}
.discipline-info__teacher-text {
  margin: 0px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-black-color);
}
.discipline-info__teacher-text_margin_top {
  margin: 12px 0px 0px 0px;
}
.discipline-info__teacher-comment {
  margin: 24px 0px 0px 0px;
  width: 100%;
  flex-grow: 1;
  padding: 16px 24px;
  box-sizing: border-box;
  background: var(--main-grey-color);
  border-radius: var(--border-radius);
}
.discipline-info__teacher-comment-text {
  margin: 0px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-black-color);
}
.discipline-info__document {
  margin: 0px;
  width: 100%;
}
.table__main_type_info {
  max-height: calc(100vh - 352px);
}
.table__btn {
  margin: 0px;
}
