.discipline-teacher {
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.discipline-teacher__header-group {
  min-width: 180px;
  width: min-content;
  margin: 0px;
  padding: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-grey-color);
  border-radius: var(--border-radius);
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-black-color);
  user-select: none;
  pointer-events: none;
}