.discipline {
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.discipline__header {
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.discipline__header-caption {
  margin: 0px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: var(--main-black-color);
}
.discipline__header-container {
  margin: 12px 0px 0px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discipline__header-select {
  margin: 0px;
  min-width: 260px;
  background: var(--gradient-blue-color);
  border-radius: var(--border-radius);
  position: relative;
}
.discipline__header-select_status_open {
  border-radius: 8px 8px 0px 0px;
}
.discipline__header-select:hover {
  cursor: pointer;
}
.discipline__header-select-main {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px 8px 20px;
  box-sizing: border-box;
}
.discipline__header-select-text {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-white-color);
}
.discipline__header-select-arrow {
  margin: 0px 0px 0px 10px;
  width: 24px;
  height: 24px;
  background-image: url('../../images/arrow-white.svg');
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  transform: rotate(0deg);
  transition: all .3s ease-in-out;
}
.discipline__header-select-arrow_status_open {
  transform: rotate(180deg);
}
.discipline__header-select-options-container {
  width: 100%;
  margin: 0px;
  background: var(--gradient-blue-color);
  border-radius: 0px 0px 8px 8px;
  display: none;
  position: absolute;
  top: 40px;
  left: 0px;
  transition: all .3s ease-in-out;
  z-index: 100;
  box-shadow: 8px 12px -8px rgb(166 166 166 / 90%);
  box-sizing: border-box;
}
.discipline__header-select-options-container_status_open {
  display: block;
}
.discipline__header-select-options-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.discipline__header-select-options-item {
  margin: 0px;
  padding: 11px 20px;
  box-sizing: border-box;
}
.discipline__header-select-options-text {
  margin: 0px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: var( --main-white-color);
}
.discipline__header-select-options-item:hover .discipline__header-select-options-text {
  font-weight: 500;
}
.discipline-list {
  margin: 0px;
  width: 100%;
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.discipline-list__caption {
  margin: 0px 0px 8px 0px;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-black-color);
}
.discipline-list__item {
  margin: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 21px 0px;
  border-bottom: 1px solid var(--slider-color);
}
.discipline-list__item:last-of-type {
  border-bottom: none;
}
.discipline-list__count {
  margin: 0px 21px 0px 0px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: var(--slider-color);
}
.discipline-list__info {
  margin: 0px 8px 0px 0px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.discipline-list__info-name {
  margin: 0px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-black-color);
}
.discipline-list__info-date {
  margin: 5px 0px 0px 0px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: var(--slider-color);
}
.discipline-list__btn {
  margin: 0px;
}


@media all and (max-width: 833px)  {
  .discipline__header-caption {
    font-size: 13px;
    line-height: 16px;
  }
}