.star-rating {
  margin: 12px 0px 0px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.star-rating__btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url('../../images/rating-star.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.star-rating__btn_type_on {
  background-image: url('../../images/rating-star-color.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.star-rating__btn_type_off {
  background-image: url('../../images/rating-star.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}