.semester {
  margin: 0px;
  display: flex;
  align-items: center;
  width: 100%;
}
.semester__select {
  margin: 0px;
  min-width: 164px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px 8px 20px;
  background: var(--main-white-color);
  border-radius: var(--border-radius);
  transition: all .3s ease-in-out;
}
.semester__select:hover {
  cursor: pointer;
}
.semester__select-title {
  margin: 0px 20px 0px 0px;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-black-color);
}
.semester__select-arrow {
  width: 24px;
  height: 24px;
  background-image: url('../../images/arrow-big-color.png');
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
}
.semester__btn-back {
  margin: 0px;
  min-width: 164px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px 8px 20px;
  background: var(--main-white-color);
  border-radius: var(--border-radius);
  transition: all .3s ease-in-out;
}
.semester__btn-back:hover {
  cursor: pointer;
}
.semester__btn-back-text {
  margin: 0px 20px 0px 0px;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-black-color);
}
.semester__btn-back-arrow {
  width: 24px;
  height: 24px;
  background-image: url('../../images/arrow-big-color.png');
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  transform: rotate(270deg);
}
.semester__control-list {
  margin: 0px 0px 0px auto;
  padding: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.semester__control-item {
  margin: 0px 22px 0px 0px;
}
.semester__control-item:last-of-type {
  margin: 0px;
}
.semester__control-item-container {
  width: 40px;
  height: 40px;
  background: var(--main-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
}
.semester__control-item-container:hover {
  background: var(--gradient-blue-color);
  cursor: pointer;
}
.semester__control-btn {
  width: 24px;
  height: 24px;
  border: none;
  background-color: inherit;
}
.semester__control-btn_type_notifications {
  background-image: url('../../images/semester/notification-color.png');
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
}
.semester__control-item-container:hover  .semester__control-btn_type_notifications {
  background-image: url('../../images/semester/notification.png');
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.semester__control-btn_type_home {
  background-image: url('../../images/semester/home-color.png');
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
}
.semester__control-item-container:hover .semester__control-btn_type_home {
  background-image: url('../../images/semester/home.png');
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.semester__control-btn_type_exit {
  background-image: url('../../images/semester/exit-color.png');
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
}
.semester__control-item-container:hover .semester__control-btn_type_exit {
  background-image: url('../../images/semester/exit.png');
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  cursor: pointer;
}