.discipline-tasks {
  margin: 0px 0px 12px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.discipline-tasks__caption {
  margin: 24px 0px 0px 0px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: var(--main-black-color);
}
.discipline-tasks__form {
  margin: 0px 0px 20px 0px;
  width: 100%;
}