.person-notification__container {
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.person-notification__list { 
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  max-height: 220px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 833px) {
  .person-notification__list { 
    max-height: none;
    margin: 0px 0px 16px 0px;
  }
}