.person-notification__container {
  margin: 0px;
}
.person-notification__list { 
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  max-height: 220px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}