.discipline-materials__list {
  width: 100%;
  margin: 0px;
  padding: 0px 0px 0px 36px;
  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.discipline-materials__list_type_initial {
  padding: 0px;
}
.discipline-materials__item {
  width: 100%;
  margin: 0px;
  display: flex;
  align-items: center;
}
.discipline-materials__item_type_folder {
  flex-direction: column;
}
.discipline-materials__item-info {
  width: 100%;
  margin: 0px;
  padding: 21px 0px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--slider-color);
}
.discipline-materials__item:last-of-type .discipline-materials__item-info {
  border-bottom: none;
}
.discipline-materials__item-text {
  margin: 0px 20px 0px 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-black-color);
}
.discipline-materials__item-status {
  margin: 0px 0px 0px auto;
  min-width: 104px;
}
.discipline-materials__item-btn {
  margin: 0px 0px 0px 20px;
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 16px;
  border-radius: 8px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--main-white-color);
  transition: all .3s ease-in-out;
}
.discipline-materials__item-btn:hover {
  cursor: pointer;
}
.discipline-materials__item-btn_type_start {
  background: var(--gradient-blue-color);
}
.discipline-materials__item-btn_type_start:hover {
  box-shadow: 0px 8px 12px -8px rgba(0, 55, 196, 0.9);
}
.discipline-materials__item-btn_type_repeat {
  background: var(--main-grey-color);
  color: var(--accent-grey-color);
}
.discipline-materials__item-btn_type_repeat:hover {
  box-shadow: 0px 8px 12px -8px rgba(166, 166, 166, 0.9);
}
.discipline-materials__item-btn_type_finish {
  background: var(--gradient-orange-color);
}
.discipline-materials__item-btn_type_finish:hover {
  box-shadow: 0px 8px 12px -8px rgba(255, 123, 2, 0.9);
}
.discipline-materials__item-icon {
  margin: 0px 12px 0px 0px;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
}
.discipline-materials__item-icon_type_folder {
  background-image: url('../../../images/materials/folder.svg');
}
.discipline-materials__item-icon_type_test {
  background-image: url('../../../images/materials/test.svg');
}
.discipline-materials__item-icon_type_inline {
  background-image: url('../../../images/materials/file.svg');
}
.discipline-materials__item-icon_type_content {
  background-image: url('../../../images/materials/content.svg');
}