.accordion {
  margin: 20px 0px 0px 0px;
  padding: 20px 36px;
  box-sizing: border-box;
  width: 100%;
  background: var(--main-white-color);
  border-radius: var(--border-radius);
  height: 80px;
  transition: all .3s ease-in-out;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}
.accordion_state_open {
  padding: 20px 36px 36px 36px;
}
.accordion__main {
  display: flex;
  align-items: center;
}
.accordion__title {
  margin: 0px 20px 0px 0px;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 30px;
  color: var(--main-black-color);
}
.accordion__info {
  display: none;
  margin: 0px;
}
.accordion__info_state_show {
  display: flex;
  align-items: center;
  justify-content: center;
}
.accordion__info-icon {
  width: 24px;
  height: 24px;
  transition: all .3s ease-in-out;
  fill: var(--main-grey-color);
}
.accordion__info-icon:hover {
  cursor: pointer;
  fill: var(--accent-blue-color);
}
.accordion__arrow {
  margin: 0px 0px 0px auto;
  width: 40px;
  height: 40px;
  background-image: url('../../images/arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.accordion_state_open .accordion__arrow {
  transform: rotate(180deg);
}
.accordion__children {
  margin: 24px 0px 0px 0px;
}
.accordion__icon {
  margin: 0px 24px 0px 0px;
  width: 32px;
  height: 32px;
  object-fit: contain;
  object-position: center;
  user-select: none;
  pointer-events: none;
}

@media all and (max-width: 833px) {
  .accordion {
    padding: 20px;
  }
  .accordion_state_open {
    padding: 20px;
  }
  .accordion__title {
    margin: 0px 15px 0px 0px;
    font-size: 20px;
    line-height: 24px;
  }
  .accordion__icon {
    margin: 0px 20px 0px 0px;
  }
}